
<footer>
            <div class="footer">
                <div class="Container-foot">
                    <div class="row-foot">
                        <div class="footer-col">
                            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Glocify</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Affiliate program</a></li>
                                </ul>
                            
                        </div>
    
                        <div class="footer-col">
                            <h4>&nbsp;&nbsp;&nbsp;Get Help</h4>
                            <ul>
                                <li><a href="#">FAQ </a></li>
                                <li><a href="#">Shipping </a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Orders</a></li>
                                <li><a href="#">Payments</a></li>
                            </ul>
                        </div>
    
                        <div class="footer-col">
                            <h4>Online Shop</h4>
                            <ul>
                                <li><a href="#">Watch</a></li>
                                <li><a href="#">T-shirts</a></li>
                                <li><a href="#">Shoes</a></li>
                                <li><a href="#">Dresses</a></li>
                            </ul>
                        </div>
    
                        <div class="footer-col">
                            <h4>&nbsp;&nbsp;&nbsp;Follow Us</h4>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Chat bot</a></li>
                            </ul>        
                        </div>
    
                        <div class="footer-col">
                            <img src="../images/frontend/Glocify1.png">         
                        </div>
                                   
                        </div>
                    </div>
                </div>
    
                <div class="row-foot-1">
                  <div class="col-7">
                      <p2> Copyright© 2015 - 2022 www.glocify.com.– All Rights Reserved. Privacy Policy | Term of Service<br>----------</p2>
                  </div>
                </div>
                
            </div>
        </footer>

