<!--==============================//  ERROR PAGE  //===============================-->
 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Glocify - ERROR-404 </title>
        <link rel="icon" type="image/x-icon" href="/images/frontend/favicon.ico">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/error.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        

    </head>

    <!-----===================//  HEADER SECTION HAI YE //==================-->

    <body>
        <div class="container">
            <div class="navbar">

                <div class="logo">
                    <img src="/images/frontend/Glocify1.png">
                    
                </div>
                <nav>
                    <ul>
                        <li><a href="/"> <i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Sell Online</a></li>
                        <li><a href="#">Review</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> user</a></li>
                    </ul>
                 </nav>
            </div>
        </div>

        <!--====================//  All Products Featured section  //====================-->

        <div class="error-page">
            <div class="error-a">
                <p14> ERROR- 404 !!</p14><br>
                <p14> Page not found</p14><br>
            </div>
           <img src="/images/frontend/error2.png">
           <ol>
            {{!-- <li><a href="#"> Home</a></li>
            <li><a href="#"> Back</a></li> --}}
           </ol>
           
        </div>

        <!----------------------//  FOOTER SECTION YAHA SE SURU HAI  //----------------------->

        {{>footer}}

    </body>
</html>
